body {
    margin: 0 auto;
    background-color: #eaeaea;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 800px;
}
h1 { font-size: 3.8em; color: #333333; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #333333; }
h3 { text-align: left; color: #333333; }
a { color: #333333; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; }
.swizAd { float: right; width:300px; border:3px solid #666; padding:5px; background: #980200; color:#fff; margin-left:5px; }
.swizAd h1 { color:#fff; margin:0; font-size:2em;}
.swizAd a { color : #FFF }
pre { background: #666; color: #fff; padding: 15px; border: 1px solid #000 }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
.banner { padding:2px;width:100%;text-align:center;background-color: #980200; color:#fff; font-weight: bold; margin: 0 auto }
.bannerBottom { padding:10px;width:100%;text-align:center;background-color: #666; color:#fff; font-weight: bold; margin: 0 auto }
.banner h1 { color : #fff }